/* for medium device */
@media screen and (min-width:576px) {
    .hamburger{
        display: none;
    }
}

/* for small device */
@media screen and (max-width:576px) {
    .nav-links{
        display: none;
    }
    .nav-bar{
        justify-content: space-between;
        padding: 0;
        width: 356px;
        margin: 0 auto;
        padding-top: 30px;
        padding-left: 0px;
        
    }
    .hamburger{
        flex-direction: row;
    }
    .banner-container{
        flex: none;
        flex-direction: column;
        padding: 10px 10px;
        gap: 48px;
        
        
    }
    .text-btn-container h1{
        font-size: 2.4rem;
        width: 285px;
        
    }
    .banner-text{
        font-size: 16px;
        width: 274px;
    }
    .btn-one{
        width:150px;
    }
    .btn-two{
        width: 150px;
    }
    .banner-image{
        margin: 0;
        padding: 0;
    }
    .card-one{
        top: 700px;
        right: 1px;
    }
    .card-two{
        top: -1000px;
    }


    .habit-container{
        padding: 0;
    }
    .habit-text-container{
        padding: 0;
    }
    .habit-text-container h2{
        font-size: 2rem;
    }
    .habit-text-container p{
        font-size: 0.9rem;
        padding: 0 40px;
    }
    .image-container{
        flex-direction: column;
        gap: 50px;
        padding: 0px 120px;
    }
    .habits-head{
        padding-bottom: 15px;
    }


    .run-container{
        flex-direction: column;
        width: 353px;
        margin: 0 0;
        gap: 0;
        margin: 66px auto 0 auto;
    }
    .run-section-container{ 
        width: 100%;
    }
    .run-header{
        font-size: 2rem;
        font-weight: 900;
    }
    .run-text{
        font-size: 0.9rem;
        font-weight: 400;
        width: 287px;
    }
    .run-text-div{
        width: 300px;
        padding-bottom: 10px;
    }
    .run-image-container{
        margin: 18px auto;
       
    }
    .run-image{
        width: 280px;
        border-radius: 18px;
        height: 170px;
        margin-top: 10px;
    }



    .bmi-text-container{
        width: 353px;
        height: 124px;
        margin: 40px 60px;
    }

    .bmi-table-container{
        flex-direction: column;
        padding: 0;
        gap: 20px;
        width: 100%;
    }
    .bmi-chart-plus-table{
        padding-left: 50px;
    }
    .calculator-text{
        width: 346px;  
    }


    .calculator-heading{
        padding-left: 0;
    }
    .calculator-form{
        width: 100%;
    }
    .calculator{
        width: 92%;
    }
    .special-option-one{
        width: 98%;
    }
    .special-option-two{
        width: 98%;
    }
    .form{
        width: 354px;
        margin: 0 auto;
    }




    .team-text-container{
        width: 309px;
        margin: 0 auto;
    }
    .team-header{
        font-size: 2rem;
        font-weight: 900;
    }
    .meet-image-container{
       grid-template-columns: repeat(1, 1fr);
       width: 350px;
       height: 1188px;
       margin: 0 auto;
       margin-top: 50px;
    }
    .image-two{
        order: 3;
    }
    .image-three{
        order: 2;
    }
    .image-four{
        order: 4;
    }

    .first-trainer{
        display: none;
    }
    .fourth-trainer{
        display: none;
    }
    .name-text-one{
        display: none;
    }
    .name-text-four{
        display: none;
    }

    .name-text-two{
        position: absolute;
        left: 40px;
        top: 240px;
    }
    .name-text-five{
        left: 50px;
        top: 520px;
    }
    .name-text-three{
        left: 50px;
        bottom: 345px;
    }
    .name-text-six{
        left: 50px;
        bottom: 50px;
    }

}