@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');
body{
    font-family: "Inter", sans-serif;
    background-color: #000000;
    color: white;
}
*{
    margin: 0;
    padding: 0;
}
.italic{
    font-family: "Playwrite CU", cursive;
}
.container{
    max-width: 100%;
    margin: 0 auto;
}
.header-section{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}
/* shared styles */
.display-flex{
    display: flex;
}
/* navbar related styles */
.nav-bar{
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0px 100px;
  
}
.nav-item{
    list-style: none;
    margin-right: 30px;
    
}
.nav-link{
    text-decoration: none;
    font-weight: 400;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    text-align: center;
    align-items: center;

}
.span{
    border-radius: 2.9rem;
    background-color: rgb(230, 83, 60);
    padding: 5px;
}
.nav-links{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 5px;
    border-radius: 39px;
    margin-top: 30px;
    margin-bottom: 8px;
    
}
.nav-bar h3{
    Font-weight: 800;
    Font-size: 2rem;
    Letter-spacing: 0%;  
    color: rgb(230, 83, 60);
    margin-top: 5px;
}


/* banner section style  */

.banner-container{
    display: flex;
    gap: 167px;    
    padding: 0px 100px;

}
.text-btn-container h1{
    color: rgb(255, 255, 255);
    font-size: 4.9rem;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 100px;
}
.banner-text{
    Font-weight: 400;
    Font-size: 1rem;
    line-height: 1.6rem;
    Letter-spacing: 0.5px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 28px;

}
.btn-one{
    border-radius: 42px;
    background: rgb(230, 83, 60);
    width: 224px;
    height: 54px;
    margin-top: 28px;
    border: 1px solid rgb(230, 83, 60);
    
}
.btn-two{
    margin-top: 28px;
    width: 224px;
    height: 54px;
    border-radius: 42px;
    background-color: #0E0E0E;
    color: white;
    border: none;
}
.banner-text-image{
    position: relative;
}
.card-one{
    width: 160px;
    height: 98px;
    position: absolute;
    backdrop-filter: blur(10px);
    background-color: #383937;
    padding-left: 30px;
    border-radius: 1rem;
    top: 200px;
    right: 135px;
    justify-content: center;
    align-items: center;
    padding-top: 25px;

}
.card-one h2{
    color: rgb(255, 255, 255);
    font-size: 2.7rem;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 1px;
    text-align: left;
}
.card-two{
    width: 170px;
    height: 88px;
    position: absolute;
    background-color: #393939;
    display: flex;
    padding-top: 20px;
    border-radius: 1rem;
    gap: 5px;
    bottom: 200px;
    right: 450px;
    top: 500px;
    
}
.ball{
    border-radius: 50%;
    background-color: orangered;
    height: 30px;
    width: 30px;
    margin-top: 5px;
}

/* CHANGE YOUR HABITS STYLES */
.habit-container{
    background-color: #000000;
    padding: 0px 100px;
}
.habit-text-container{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 100px;
}
.habit-text-container h2{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
}
.habit-text-container p{
    color: rgb(255, 255, 255);
    font-size: 0.96rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
    padding-top: 10px;
}
.image-container{
    display: flex;
    gap: 80px;
    margin-top: 40px;
    justify-content: space-around;
    padding-bottom: 140px;
}
.circle-image{
    border-radius: 50%;
    justify-content: space-evenly;
}
.habits-head{
    color: white;
    padding-top: 30px;
}
.habits-text{
    color: rgba(255, 255, 255, 0.5);
}
.habits-card{
    text-align: center;
    color:rgba(255, 255, 255, 0.5); 
}

/* run section styles */

.run-container{
    color: white;
    display: flex;
    background-color: #222222;
    gap: 200px;
    margin: 0px 100px;
    border-radius: 32px;
}
.run-header{
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 0;
    padding-bottom: 10px;
}
.run-text{
   color: rgba(255, 255, 255, 0.5); 
   font-size: 0.9rem;
   line-height: 1.8rem;
}
.run-btn{
    border-radius: 42px;
    background: rgb(230, 83, 60);
    width: 224px;
    height: 44px;
    border: none;
    margin-top: 34px;
    cursor: pointer;
}
.run-image-container{
    
}
.run-image{
    width: 366px;
    height: 312px;
    margin-top: 50px;   
    border-radius: 30px;
}
.run-text-div{
    padding: 50px 0px 50px 50px;
}

/* BMI Calculator styles */
.bmi-text-container{
    margin: 80px 370px 0px;
    padding-bottom: 88px;
}
.bmi-header{
    font-size: 3rem;
    letter-spacing: 0%;
}
.bmi-text{
    font-size: 0.9rem;
    letter-spacing: 0.3px;
}

/* Bmi-table-styles */
.bmi-table-container{
    background-color: #222222;
    display: flex;
    padding: 50px 120px 52px 160px;
    gap: 130px;
}
.bmi-table-header{
    font-size: 1.8rem;
    font-weight: 900;
}
.bmi-table{
    margin-top: 50px;
}
table{
    width: 100%;
    border-collapse: collapse;
    
}
th, td {
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: left;
    
}
tbody{
    color:rgba(255, 255, 255, 0.5);
}

/* CALCULATOR */
.form{
    /* border: 1px solid green; */
}
.calculator-heading{
    padding-bottom: 20px;
    font-size: 1.8rem;
    font-weight: 900;
}
.calculator-text{
    color:rgba(255, 255, 255, 0.5);
    padding-bottom: 20px;
    
}
.calculator-form{
    color: rgba(255, 255, 255, 0.5);
    gap: 20px;
}
.calculator{
    padding: 10px;
    color:rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    border: none;
    margin: 10px 10px 10px 0;
    width: 270px;
    
}
.special-option-one{
    width: 290px;
    padding: 10px;
    color:rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    border: none;
    margin: 10px 10px 10px 0;
}
.options{
    color: #848681;
    background-color: #222222;
}
.special-option{
    width: 595px;
    padding: 10px;
    color:rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    border: none;
    margin: 10px 10px 10px 0;

}
.calculator-btn{
    height: 54px;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 16px 50px 16px 50px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: none;
    color: white;
    margin-top: 20px;
    cursor: pointer;
}
/* TEAM-SECTION-STYLES */
.team-header{
    font-size: 3rem;
    font-weight: 900;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
    margin-top: 50px;
}
.team-text{
    font-size: 0.9rem;
    font-weight: 400;
    text-align: center;

}
.meet-image-container{
    background-color: #222222;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    border-radius: 12px;
    width: 1020px;
    height: 564px;
    padding: 20px 20px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
}
.trainer-images{
    width: 320px;
    height: 272px;
    border-radius: 12px;
}
.name-text-one{
    position: absolute;
    bottom: 334px;
    left: 50px;
}
.name-text-two{
    position: absolute;
    bottom: 334px;
    left: 400px;
}
.name-text-three{
    position: absolute;
    bottom: 334px;
    left: 740px;
}
.name-text-four{
    position: absolute;
    bottom: 30px;
    left: 50px;
}
.name-text-five{
    position: absolute;
    bottom: 30px;
    left: 400px;
}
.name-text-six{
    position: absolute;
    bottom: 30px;
    left: 740px;
}
.p-text{
    color:#939493;
}
/* FOOTER SECTION STYLES */
.footer-container{
    background-color: #222222;
}
.footer-main-container{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-top: 88px;
    /* border: 2px solid red; */
    padding-top: 50px;
    padding-bottom: 80px;
}
.footer-main{
    width: 443px;
    margin-right: 102px;
    
}
.footer-main-text{
    padding-top: 25px;
}
.footer-middle-text{
    width: 181px;
}
.middle-text{
    padding-top: 20px;
}
.footer-last-text{
    width: 165px;
    margin-left: 152px;
}
.last-text{
    padding-top: 20px;
}
.footer-header{
    font-size: 4.5rem;
    font-weight: 800;
    color:rgb(230, 83, 60);
}
.horizontal-line{
    /* padding: 1px; */
    width: 1000px;
    border: 1px solid #393939;
    margin: 0 auto;    
} 
.copy-right{
    text-align: center;
    padding: 36px;
    
}